/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
/* RESET */


/* COMMON */
.wide-container {
    width: 75%;
    margin: 0 auto;
}

.slim-container {
    width: 70%;
    margin: 0 auto;
}

.col {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fa-chevron-down {
    font-size: 13px;
}

.gethubspotfree-btn {
    padding: 10px 10px;
    background-color: rgb(237, 127, 98);
    color: white;
    border-radius: 5px;
}

.first-section li, .second-section li {
    display: inline-block;
    list-style-type: none;
}

.learnmore-btn {
    padding: 18px 30px;
    background-color: rgb(237, 127, 98);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
}

.fa-check-circle {
    color: rgb(237, 127, 98);
}

.line-col {
    width: 90%;
    display: inline-block;
    border-top: 1px solid black;
    margin-top: 50px;
    margin-bottom: 30px;
}
/* COMMON */


/* HEADER */

/* 1st Section */
.first-section {
    background-color: rgb(246, 249, 253);
    border-bottom: 1px solid black;
}

.first-section .col-left {
    width: 50%;
}

.first-section .col-right {
    width: 50%;
}

.first-section li {
    line-height: 60px;
}

/* 1st Section - Left Column */
.first-section .col-left li a {
    font-size: 14px;
    color: rgb(56, 70, 89);
}

.first-section .col-left li:first-child {
    padding-right: 10px;
}

.col-left .fa-chevron-down {
    padding-right: 10px;
}
/* 1st Section - Left Column */


/* 1st Section - Right Column */
.fa-search {
    color:  rgb(73, 161, 186);
}

.first-section .col-right {
    text-align: right;
}

.first-section .col-right li a {
    font-size: 14px;
}

.login-btn {
    border: 1px solid rgb(237, 127, 98);
    padding: 9px 10px;
    border-radius: 5px;
    color: rgb(237, 127, 98);
}

.first-section .col-right li:nth-child(2) {
    padding: 0 18px 0 12px;
}
/* 1st Section - Right Column */

/* End 1st Section */


/* 2nd Section */
.second-section .col-left {
    width: 50%;
    vertical-align: middle;
}

.second-section .col-left img {
    padding-top: 20px;
    height: 45px;
}

.second-section .col-right {
    width: 50%;
    text-align: right;
}

.second-section .col-right li a {
    color: rgb(56, 70, 89);
    font-size: 14px;
}

.second-section .col-right .fa-chevron-down {
    padding: 0 12px;
}

.second-section .col-right li {
    padding-left: 12px;
    line-height: 60px;
}

.second-section .col-right li:nth-child(2) {
    padding-right: 12px;
}

.second-section .col-right .fa-chevron-down {
    padding-right: 0;
}
/* End 2nd Section */

/* 3rd Section */
.third-section {
    background-color: rgb(255, 240, 235);
    height: 600px;
    background-size: 1300px;
    background-repeat: no-repeat;
    background-image: url(../img/jumbotron.png);
    background-position: 390px 75px;
}

.third-section .wide-container {
    padding-right: 500px;
    padding-top: 50px;
    color: rgb(56, 70, 89);
}

h1 {
    margin-bottom: 40px;
    font-family: Arial;
    font-size: 50px;
    line-height: 50px;
}

.third-section p {
    line-height: 28px;
}

.third-section .gethubspotfree-btn {
    display: inline-block;
    padding: 15px 22px;
    margin: 30px 0;
    font-size: 13px;
}
/* 3rd Section */

/* 4th Section */
.fourth-section {
    height: 60px;
    background-color: rgb(187, 233, 228);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* End 4th Section */

/* END HEADER */

/* MAIN */
/* 5th Section */

.fifth-section {
    background-color: rgb(245, 249, 253);
}

/* Slim container */
.fifth-section .slim-container {
    text-align: center;
    color: rgb(56, 70, 89);
    padding: 40px 100px;
}

.fifth-section .slim-container img {
    height: 170px;
}

.fifth-section .slim-container h2 {
    font-family: Arial;
    margin-bottom: 30px;
    font-size: 30px;
}
/* End Slim Container */

/* Infobox */
.infobox {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(211, 211, 211, 0.76);
}

/* Infobox left */
.infobox .col-left {
    margin-left: 7%;
    margin-right: 8%;
    width: 17%;
    text-align: center;
}

.infobox .col-left img {
    margin-top: 60px;
    height: 90px;
    margin-bottom: 20px;
}
/* End Infobox left */

/* Infobox right */
.infobox .col-right {
    width: 60%;
    padding: 55px 0;
}

.infobox .col-right li {
    list-style-type: none;
    display: inline-block;
}

.infobox .col-right h3 {
    color: rgb(56, 70, 89);
    font-size: 23px;
    font-family: Arial;
    margin-bottom: 25px;
}

.infobox .col-right p {
    line-height: 25px;
    color: rgb(56, 70, 89);
}

.infobox .col-right span {
    font-family: Arial;
    color: rgb(56, 70, 89);
    font-weight: bold;
    margin: 20px 0;
    display: inline-block;
}

.infobox .col-right .fa-check-circle {
    padding-right: 10px;
}

.infobox .col-right .line {
    width: 60%;
    display: inline-block;
    margin-left: 80px;
    border-top: 1px solid black;
    vertical-align: middle;
}
/* End Infobox Right */

/* End Infobox */

/* Hub Types */
.hub-types {
    margin-top: 40px;
    padding-bottom: 40px;
}

.hub-types .col-left,
.hub-types .col-center,
.hub-types .col-right {
    width: 30%;
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgba(211, 211, 211, 0.76);
    border-radius: 5px;
    background-color: white;
    padding: 0 20px;
    line-height: 25px;
    color: rgb(56, 70, 89);
}

.hub-types .col-left img,
.hub-types .col-center img,
.hub-types .col-right img {
    margin-top: 10px;
    height: 90px;
}

.hub-types .col-left h3,
.hub-types .col-center h3,
.hub-types .col-right h3 {
    margin: 20px 0;
    font-family: Arial;
    font-size: 22px;
}

.hub-types .col-left li,
.hub-types .col-center li,
.hub-types .col-right li {
    text-align: left;
}

.hub-types .col-left .learnmore-btn,
.hub-types .col-center .learnmore-btn,
.hub-types .col-right .learnmore-btn {
    margin: 25px 0;
}

.hub-types .col-left span,
.hub-types .col-center span,
.hub-types .col-right span {
    font-family:  Arial;
    color: rgb(56, 70, 89);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
}

.hub-types .col-center {
    width: 30%;
    margin: 0 5%;
}

.hub-types .col-right {
    width: 30%;
}
/* End Hub Types */

/* End 5th Section */

/* 6th Section */
.sixth-section {
    /* GRADIENTE DA AGGIUGNERE */
    background-image: linear-gradient(to top, rgb(79, 174, 174), rgb(73, 161, 185));
    padding-bottom: 60px;
}

.sixth-section .heading {
    text-align: center;
    color: white;
    font-family: Arial;
    line-height: 25px;
}

.sixth-section .heading h2 {
    padding: 40px 0;
    font-size: 30px;
    line-height: 35px;
}

/* 6th Section Grill */
.grill {
    /* TEST */
    margin-top: 50px;
}

/* Selectors for Grill Lines */
.sixth-section .col-one,
.sixth-section .col-two,
.sixth-section .col-three,
.sixth-section .col-four,
.sixth-section .col-five,
.sixth-section .col-six,
.sixth-section .col-seven,
.sixth-section .col-eight {
    text-align: center;
    width: 25%;
    padding: 15px 0;
}

.sixth-section .col-one,
.sixth-section .col-two,
.sixth-section .col-three {
    border-right: 1px solid white;
}

.sixth-section .col-five,
.sixth-section .col-six,
.sixth-section .col-seven,
.sixth-section .col-eight {
    border-top: 1px solid white;
}

.sixth-section .col-five,
.sixth-section .col-six,
.sixth-section .col-seven {
    border-right: 1px solid white;
}
/* End Selectors for Grill Line */

.sixth-section .col-one .fa-handshake {
    display: block;
    font-size: 36px;
    color: white;
}

.sixth-section .grill span {
    display: block;
    color: white;
}

.sixth-section .grill .big-data {
    margin: 10px 0;
    font-size: 32px;
    font-family: Arial;
    font-weight: bold;
}

.sixth-section .grill .little-plus {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

.sixth-section .grill .col {
    font-size: 12px;
}
/* End 6th Section Grill */
/* End 6th Section */

/* 7th Section */
.seventh-section {
    /* TEST */
    height: 700px;
}

/* Slim Container */
.seventh-section .slim-container .col-left {
    margin-top: 60px;
    padding-right: 180px;
    padding-left: 50px;
    width: 40%;
}

.seventh-section .slim-container span {
    display: block;
    color: rgb(56, 70, 89);
}

.seventh-section .slim-container h6 {
    font-size: 40px;
    margin-bottom: 30px;
    font-family: Arial;
    color: rgb(56, 70, 89);
}

.seventh-section .slim-container .col-right {
    width: 50%;
    margin-top: 60px;
    line-height: 60px;
}

.seventh-section .slim-container .col-right img {
    vertical-align: middle;
    margin-right: 12px;
    height: 22%;
    width: 22%;
}
/* End Slim Container */

/* Wide Container */
.seventh-section .wide-container .col-left {
    margin: 100px 0;
    width: 50%;
    padding-right: 70px;
}

.seventh-section .wide-container .col-left h3 {
    font-family: Arial;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(56, 70, 89);
}

.seventh-section .wide-container .col-left p {
    line-height: 25px;
    color: rgb(56, 70, 89);
}

.seventh-section .wide-container .col-left a {
    padding: 20px 30px;
    font-size: 13px;
    display: inline-block;
    margin: 30px 0;
}

.seventh-section .wide-container .col-left span {
    color: rgb(56, 70, 89);
    display: inline-block;
    font-size: 13px;
}

.seventh-section .wide-container .col-right {
    margin-top: 50px;
    width: 50%;
    padding: 0 50px 200px 200px;
}

.seventh-section .wide-container .col-right img {
    width: 100%;
}
/* End Wide Container */
/* End 7th Section */
/* END MAIN */

/* FOOTER */
/* 8th Section */
.eight-section {
    /* TEST */
    background-color: rgb(55, 72, 89);
    height: 800px;
}
/* End 8th Section */
/* END FOOTER */
